
/*=============== CARD ===============*/

.card__container {
  padding-block: 5rem;
}
.lol{
  list-style-type: disc;
  margin-left: 1rem;
}
.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: hsl(212, 32%, 40%);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: #f6ae31;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}
.card__button:hover{
  background-color: #c18113;
}
/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: rgb(239, 239, 239);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}



.rain {
  width: 95%;
  height: 100vh;
  background: linear-gradient(to left, #1d335a, #142748, #0e1d3a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-cards {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pricing-card {
  width: 30rem;
  height: 50rem;
  background: linear-gradient(to right, #1b2f54, #0f1f39);
  border-radius: 1.5rem 8rem 1.5rem 1.5rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.pricing-card:nth-child(1) {
  transform: translateX(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim1 1s 1s linear forwards;
}

@keyframes cardAnim1 {
  0% {
    transform: translateX(-15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(2) {
  transform: translateY(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim2 1s 1s linear forwards;
}

@keyframes cardAnim2 {
  0% {
    transform: translateY(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(3) {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim3 1s 1s linear forwards;
}

@keyframes cardAnim3 {
  0% {
    transform: translateX(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.card-type {
  width: 22rem;
  height: 4rem;
  background-color: #ccc;
  transform: rotateZ(-90deg);
  position: absolute;
  top: 12rem;
  left: -13rem;
  border-radius: 2.5rem 2.5rem 0 0;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.card-bottom {
  width: 22rem;
  height: 4rem;
  background-color: #ccc;
  position: absolute;
  bottom: -4rem;
  border-radius: 0 0 2.5rem 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.pricing-card:nth-child(1) .card-type,
.pricing-card:nth-child(1) .card-bottom {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-type,
.pricing-card:nth-child(2) .card-bottom {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-type,
.pricing-card:nth-child(3) .card-bottom {
  background: linear-gradient(to right, #00d9fc, #174bff);
}

.card-price {
  font-size: 7rem;
  font-weight: 300;
}

.month {
  font-size: 3rem;
  font-weight: 300;
  margin-top: -4rem;
}

.list-item {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item:nth-child(odd) {
  background-color: rgba(9, 12, 33, 0.5);
}

.list-item i {
  width: 2rem;
  text-align: center;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.list-item span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pricing-card:nth-child(1) .card-price,
.pricing-card:nth-child(1) .month,
.pricing-card:nth-child(1) .list i,
.pricing-card:nth-child(1) .list span {
  background: linear-gradient(to right, #fd60dc, #ffa370);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(2) .card-price,
.pricing-card:nth-child(2) .month,
.pricing-card:nth-child(2) .list i,
.pricing-card:nth-child(2) .list span {
  background: linear-gradient(to right, #df3bfa, #6615fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(3) .card-price,
.pricing-card:nth-child(3) .month,
.pricing-card:nth-child(3) .list i,
.pricing-card:nth-child(3) .list span {
  background: linear-gradient(to right, #00d9fc, #174bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-btn {
  width: 12rem;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: none;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.pricing-card:nth-child(1) .card-btn {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-btn {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-btn {
  background: linear-gradient(to right, #00d9fc, #174bff);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}